@import url("https://use.typekit.net/bbd8hsf.css");

body {
  font-family: "europa";
}

#cover {
  background-color: #FE052C;
  height: 810px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.logo {
  display: inline-block;
  padding-top: 150px;
  max-width: 600px;
}

#animateBtn {
  color: #fff;
  border: solid .2em #fff;
}

#animateBtn:hover {
  color: #FE052C;
  background-color: #fff;
  border: none;
}

.btnc {
  background-color: none;
  border: 2px solid #fff;
  color: #fff;
  margin: 50px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
}


.offers-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}


.offers-1 .s1 {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  max-width: 400px;
  width: 40%;
  margin: 20px;
  padding: 10px;
  color: #000;
}

.offers-1 .s1 a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.offers-1 .s2 {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  max-width: 400px;
  width: 40%;
  margin: 20px;
  padding: 10px;
  color: #000;
}

.offers-1 .s2 a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.offers-1 .s3 {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  max-width: 400px;
  width: 40%;
  margin: 20px;
  padding: 10px;
  color: #000;
}

.offers-1 .s3 a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.btn {
  padding: 7px 15px;
  font-family: 'europa';
  font-size: 1.5em;
  color: blue;
  border: solid blue 2px;
  background: none;
  transition: 200ms;
}

.btn:hover {
  background: blue;
  color: #fff;
}

.proshop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 100px;
}

.proshop .proshop-img1 {
  display: flex;
  max-width: 500px;
  padding-right: 40px;
  margin-left: 20px;
}

.proshop .proshop-content1 {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-left: 20px;
  text-decoration: none;
  padding-bottom: 30px;
}

.proshop .proshop-content1 .item-title {
  border-bottom: solid #000 1.5px;
}

.btn2 {
  margin-top: 20px;
  padding: 7px 15px;
  border-radius: 8px;
  font-family: 'europa';
  font-size: 1.2em;
  color: #fff;
  border: none;
  background: #FC3438;
  transition: 200ms;
}

.btn2:hover {
  background: none;
  font-size: 1.2em;
  border: solid #FC3438 1px;
  color: #FC3438;
}

.next-page-button {
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.next-page {
  display: flex;
  font-family: 'europa';
  font-size: 1.5em;
  text-decoration: none;
  background-color: #fff;
  color: blue;
  border: solid 1.5px blue;
  border-radius: 100%;
  padding: 10px 17px;
}
