@import url("https://use.typekit.net/bbd8hsf.css");

body {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 1em;
  background-color: #fff;
}

/* E Times Cover */
#cover {
  background-color: #FE052C;
  height: 810px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.logo {
  display: inline-block;
  padding-top: 150px;
  max-width: 600px;
}


.btn {
  background-color: none;
  border: 2px solid #fff;
  color: #fff;
  margin: 50px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
}


/* Section A */

#section-a, .staff {
  display: inline-block;
  background-color: inherit;
  background-size: contain;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Section B */

#section-b, .gridb {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* -- Flex Basics for Responsive Website
@media(min-width: 700px) {
  #section-c, .gridc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .columnc {
    flex-basis: 27%;
    padding: 20px;
  }
} */

#section-c, .gridc {
  display: flex;
}
